<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartProductRelation">
            <h2><span>Cart Product Relation</span> {{cartProductRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Status</span></dt>
                <dd>
                    <span>{{cartProductRelation.productStatus}}</span>
                </dd>
                <dt><span>Product Count</span></dt>
                <dd>
                    <span>{{cartProductRelation.productCount}}</span>
                </dd>
                <dt><span>Coupon Id</span></dt>
                <dd>
                    <span>{{cartProductRelation.couponId}}</span>
                </dd>
                <dt><span>Category Id</span></dt>
                <dd>
                    <span>{{cartProductRelation.categoryId}}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="cartProductRelation.product">
                        <a [routerLink]="['/product', cartProductRelation.product?.id, 'view']">{{cartProductRelation.product?.id}}</a>
                    </div>
                </dd>
                <dt><span>Cart</span></dt>
                <dd>
                    <div *ngIf="cartProductRelation.cart">
                        <a [routerLink]="['/cart', cartProductRelation.cart?.id, 'view']">{{cartProductRelation.cart?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart-product-relation', cartProductRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
