<div>
    <h2 id="page-heading">
        <span>Cart Product Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-product-relation" [routerLink]="['/cart-product-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cart Product Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cartProductRelations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Product Status</span></th>
            <th><span>Product Count</span></th>
            <th><span>Coupon Id</span></th>
            <th><span>Category Id</span></th>
            <th><span>Product</span></th>
            <th><span>Cart</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cartProductRelation of cartProductRelations ;trackBy: trackId">
                <td><a [routerLink]="['/cart-product-relation', cartProductRelation.id, 'view' ]">{{cartProductRelation.id}}</a></td>
                <td>{{cartProductRelation.productStatus}}</td>
                <td>{{cartProductRelation.productCount}}</td>
                <td>{{cartProductRelation.couponId}}</td>
                <td>{{cartProductRelation.categoryId}}</td>
                <td>
                    <div *ngIf="cartProductRelation.product">
                        <a [routerLink]="['../product', cartProductRelation.product?.id, 'view' ]" >{{cartProductRelation.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cartProductRelation.cart">
                        <a [routerLink]="['../cart', cartProductRelation.cart?.id, 'view' ]" >{{cartProductRelation.cart?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cart-product-relation', cartProductRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart-product-relation', cartProductRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cart-product-relation/'+ cartProductRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
