<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Title</span></dt>
                <dd>
                    <span>{{product.productTitle}}</span>
                </dd>
                <dt><span>Product Price</span></dt>
                <dd>
                    <span>{{product.productPrice}}</span>
                </dd>
                <dt><span>Total Product Count</span></dt>
                <dd>
                    <span>{{product.totalProductCount}}</span>
                </dd>
                <dt><span>Available Product Count</span></dt>
                <dd>
                    <span>{{product.availableProductCount}}</span>
                </dd>
                <dt><span>Product Number</span></dt>
                <dd>
                    <span>{{product.productNumber}}</span>
                </dd>
                <dt><span>Serial Number</span></dt>
                <dd>
                    <span>{{product.serialNumber}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="product.category">
                        <a [routerLink]="['/category', product.category?.id, 'view']">{{product.category?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
